
<link rel="alternate" hreflang="en" href="https://www.peterbabalola.com">
<link rel="alternate" hreflang="fr" href="https://fr.peterbabalola.com">
<link rel="alternate" hreflang="ko" href="https://ko.peterbabalola.com">
<link rel="alternate" hreflang="zh" href="https://zh.peterbabalola.com">
<link rel="alternate" hreflang="es" href="https://es.peterbabalola.com">
<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_ee710f318ee77aec793f2b64549fb1419'
    });
</script>